<br>
<p style="color:DodgerBlue; font-size: 30px;"> Hello {{name | titlecase }} </p>
<br>
<p style="color:DodgerBlue; font-size: 20px;"> These are all your posts! </p>


<table class="table table-bordered table-striped display-5 text-primary table-hover">
  <thead>
  <tr>
    <th>Text</th>
    <th>Time</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <tr *ngFor="let post of myPosts">
    <td class="table-warning">
      <span>{{post.text}} </span>
    </td>
    <td class="table-warning"><span>{{post.time}} </span></td>
    <td>
      <button style="margin:5px; display: inline-block" class="btn btn-success" (click)="updatePost({id: post.id,text: edittext,time: post.time,postedBy: post.postedByNum})" tabindex="0">
        <span>Update</span>
      </button>
    </td>
    <td>
      <button style="margin:5px; display: inline-block" class="btn btn-danger" (click)="deletePost(post.id)" tabindex="0">
        <span>Delete</span>
      </button>
    </td>
  </tr>
  </tbody>
</table>

<div class="row">
  <div class="column" style="margin: 20px; width: 40%;" >

    <p style="color:DodgerBlue; font-size: 20px;"> Write your posts here! </p>
    <form (submit)="createPost({id:0,text:temptext,time:temptime,postedBy:LoggedId})" method="post">
      <input type="text" style="color:MediumSeaGreen;font-size: 30px; border-style: solid; border-color: MediumSeaGreen;" name="postbody" placeholder="Write your post here" [(ngModel)]="temptext"/> <br><br>
      <input style="margin:5px; display: inline-block" class="btn btn-success" type="submit" value="Post"/>
    </form>

  </div>
  <div class="column" style="margin: 20px; width: 40%;">
    <p style="color:DodgerBlue; font-size: 20px;"> Edit Post Box</p>
    <input style="color:MediumSeaGreen;font-size: 30px; border-style: solid; border-color: MediumSeaGreen;" [(ngModel)]="edittext"/> <br><br>
    <p style="color:DodgerBlue; font-size: 20px;"> Click update post next to the post you want to update with this text. </p>
  </div>
</div>
