<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<h1 class="display-1 text-primary"> Welcome To PirateBook!</h1><br>




<div *ngIf="!authService.authenticated">
  <button type="button" style="margin:5px" class="btn btn-primary" routerLink="/signup">Sign Up</button>
  <button type="button" style="margin:5px" class="btn btn-primary" routerLink="/login">Login</button>
</div>


<div *ngIf="authService.authenticated">
  <button (click)=logout() style="margin:5px" class="btn btn-danger">Logout</button>
  <button type="button" style="margin:5px" class="btn btn-primary" routerLink="/users">Users</button>
  <button type="button" style="margin:5px" class="btn btn-primary" routerLink="/requests">Requests</button>
  <button type="button" style="margin:5px" class="btn btn-primary" routerLink="/friends">Friends</button>
  <button type="button" style="margin:5px" class="btn btn-primary" routerLink="/posts">My Posts</button>
</div>
<router-outlet></router-outlet>

