Hello {{name | titlecase }}
<br>
These are all your friends!
<table class="table table-bordered table-striped display-5 text-primary table-hover">
  <thead>
  <tr>
    <th>User Name</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <tr *ngFor="let friend of friends">
    <td class="table-warning"><span>{{friend.username | titlecase }} </span></td>
    <button style="margin:5px; display: inline-block" class="btn btn-danger" (click)="unFriend(friend.id)" tabindex="0">
      <span>UnFriend!</span>
    </button>
    <button style="margin:5px; display: inline-block" class="btn btn-success" [routerLink]="['/friendPage', friend.id]" tabindex="0">
      <span>Visit!</span>
    </button>
  </tr>
  </tbody>
</table>
