<p>users works!</p>


<!--<button class="card card-small" (click)="getUser()" tabindex="0">-->
<!--  <span>Click Here!</span>-->
<!--</button>-->

<!--<table class="table table-bordered table-striped display-5 text-primary table-hover">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th >ID</th>-->
<!--    <th>User Name</th>-->
<!--    <th>Password</th>-->
<!--    <th>Friends</th>-->
<!--    <th>Feed</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr>-->
<!--  <tr  *ngFor="let user of users" >-->
<!--    <td class="table-danger"><span>{{user.id}}</span></td>-->
<!--    <td class="table-warning"><span>{{user.username}} </span></td>-->
<!--    <td class="table-success"><span>{{user.password}}</span></td>-->
<!--    <td class="table-info"><span>{{user.friends}}</span></td>-->
<!--    <td class="table-info"><span>{{user.feed}}</span></td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->

