<br><p>
Hello! Welcome to my Page! <br>
My name is {{friend | titlecase}}!
<br><br><br><br>
These are my posts!
<table class="table table-bordered table-striped display-5 text-primary table-hover">
  <thead>
  <tr>
    <th>Text</th>
    <th>Time</th>

  </tr>
  </thead>
  <tbody>
  <tr>
  <tr *ngFor="let post of friendPosts">
    <td class="table-warning"><span>{{post.text}} </span></td>
    <td class="table-warning"><span>{{post.time}} </span></td>
  </tr>
  </tbody>
</table>


<br><br><br>
These are my friends!
<br><br>
<table class="table table-bordered table-striped display-5 text-primary table-hover">
  <thead>
  <tr>
    <th>User Name</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <tr *ngFor="let friend of friendFriends">
    <td class="table-warning"><span>{{friend.username | titlecase }} </span></td>
  </tr>
  </tbody>
</table>
