<br><p>
<p style="color:DodgerBlue; font-size: 30px;"> Hello! Welcome to my Page! </p>
<p style="color:DodgerBlue; font-size: 30px;"> My name is {{friend | titlecase}}! </p>
<br><br><br><br>
<p style="color:DodgerBlue; font-size: 20px;"> These are my posts! </p>
<table class="table table-bordered table-striped display-5 text-primary table-hover">
  <thead>
  <tr>
    <th>Text</th>
    <th>Time</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <tr *ngFor="let post of friendPosts">
    <td class="table-warning"><span>{{post.text}} </span></td>
    <td class="table-warning"><span>{{post.time}} </span></td>
  </tr>
  </tbody>
</table>


<br><br><br>
<p style="color:DodgerBlue; font-size: 20px;"> These are my friends! </p>
<br><br>
<table class="table table-bordered table-striped display-5 text-primary table-hover">
  <thead>
  <tr>
    <th>User Name</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <tr *ngFor="let friend of friendFriends">
    <td class="table-warning"><span>{{friend.username | titlecase }} </span></td>
  </tr>
  </tbody>
</table>
